<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>Derby City Whisker Club</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/responsive.css">	
  </head>
   <body>
	<header>
		<a href="index.html" id="logo">
			<h1 id="top">The Derby City Whisker Club</h1>
			<h2 id="middle">Louisville, Kentucky</h2>
			<h3 id="bottom">Est. 2011</h3>
		</a>
		<nav>
			<ul>
			<li><a href="index.html" class="selected">Home</a></li>
			<li><a href="members.html">Members</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="calender.html">Calender</a></li>
			</ul>
		</nav>
   </header>
   <div>
		<section>
			<h4>Get in touch</h4>
			<ul id="contact-info">
				<li class="facebook"><a href="http://facebook.com/derbycitywhiskerclub">Facebook </a></li>
				<li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=DerbyCityWC">@DerbyCityWC</a></li>
				<li class="mail"><a href="mailto:DerbyCityWhiskerClub@gmail.com">DerbyCityWhiskerClub@gmail.com</a></li>
		</section>
		<footer>
			<p>&copy; 2011 - 2015 Derby City Whisker Club</p>
		</footer>
   </div>
   </body>
</html>