<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Derby City Whisker Club</title>
	<link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
	
  </head>
   <body>
   <header>
		<a href="index.html" id="logo" class="text-center">
			<h1 id="top">The Derby City Whisker Club</h1>
			<h2 id="middle">Louisville, Kentucky</h2>
			<h3 id="bottom">Est. 2011</h3>
		</a>
		<nav>
			<ul class="list-inline text-center">
			<li><a href="index.html" class="selected">Home</a></li>
			<li><a href="members.html">Members</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="calender.html">Calender</a></li>
			<li><%= link_to "Registration", new_contestant_path %></li>
			</ul>
		</nav>
   </header>
		<div class="container">
		  <div class="row">	
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">  
				<img src="assets/gore.jpg" alt="Ryan Gore" class="img-thumbnail" class="memberpage">
			</div>
			
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">	
				<h2 class="text-center"> Ryan Gore </h2>
				<p> <b> When did you first grow your facial hair? </b> </p>
				<p> Three years ago in September</p>
				<p>	<b> What was your first club event? </b> </p>
				<p>Phoenix Hill Chili Cook Off</p>
				<p>	<b> What is your drink of choice? </b> </p>
				<p>Brass Monkey</p>
				<p>	<b> What is the weirdest thing you have ever got caught in your beard? </b> </p>
				<p>Blue Jay Egg</p>
				<p>	<b> What competitions have you attended? </b> </p>
				<p>I have been to a bunch of competitions, to many to count.</p>
				<p>	<b> What bearding awards have you won? </b> </p>
				<p>I have won a handful of awards but the most memorable for me are the ones that got away. I was awarded second place in two competitions in the same month and in both, I was stripped of my awards after the judges realized they had made an error with their scoring.</p>
				<p>	<b> What is your favorite bearding memory? </b> </p>
				<p>Whiskermania 2015 </p>
				<p>	<b> What is your bearding nickname? </b> </p>
				<p>Beard Mayor</p>	
				<p>	<b> Why did you choice your particular facial hair style? </b> </p>
				<p>I like everyone else love a Red Beard, it chose me, I did not choose it.</p>
				<p>	<b> What is the weirdest complement someone has ever give you in regards to your facial hair? </b> </p>
				<p>You look like a young Wilford Brimley</p>
				
			</div>
		  </div>	
		</div>	
		<footer class="text-center">
			<p>&copy; 2011 - 2015 Derby City Whisker Club</p>
		</footer>
		<script src="bootstrap/js/bootstrap.min.js"></script>
   </body>
</html>