<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>Derby City Whisker Club</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.css">
  </head>
   <body>
   <div>
	<header>
		<a href="index.html" id="logo">
			<h1 id="top">The Derby City Whisker Club</h1>
			<h2 id="middle">Louisville, Kentucky</h2>
			<h3 id="bottom">Est. 2011</h3>
		</a>
		<nav>
			<ul>
			<li><a href="index.html" class="selected">Home</a></li>
			<li><a href="members.html">Members</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="calender.html">Calender</a></li>
			<li><%= link_to "Registration", new_contestant_path %></li>
			</ul>
		</nav>
   </header>
   <div class="row">
		<div class="col-md-12">
		<section>
			<h3 id="welcometo">Welcome to the Derby City Whisker Club, a club for bearded men and those who love them.<h3>
		</section>
		</div>
	</div>
	<div class"row">	
		<div class="col-md-6">
		<section id="primary">	
			<h4>Our Mission</h4>
			<p>To promote beardliness and brotherhood amongst men and the whiskerfication of the masculine image in the popular conscious.</p>
		</section>
		</div>
		<div class="col-md-6">
		<section id="secondary">
			<h4>A Little About Us</h4>
			<p>The Derby City Whisker Club (formerly Greater Louisville Society of Bearded Gentlemen) is the area's first "whisker club," a social group devoted to the appreciation of man's ability to grow hair on his face. To join this group, one need only be interested. Facial hair itself is not a prerequisite, and no person of any age, gender, race, nationality, or variance of hairiness shall be discriminated against by group leaders or administrators.</p>
		</section>
		</div>
	</div>	
	<footer>
		<p>&copy; 2011 - 2015 Derby City Whisker Club</p>
	</footer>
   </div>
   </body>
</html>
