<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Derby City Whisker Club</title>
	<link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>

  </head><!-- Latest compiled and minified CSS -->
   <body>
   <div>
	<header >
		<a href="index.html" id="logo" class="text-center">
			<h1 id="top">The Derby City Whisker Club</h1>
			<h2 id="middle">Louisville, Kentucky</h2>
			<h3 id="bottom">Est. 2011</h3>
		</a>
		<nav>
			<ul class="list-inline text-center">
			<li><a href="index.html" class="selected">Home</a></li>
			<li><a href="members.html">Members</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="calender.html">Calender</a></li>
			<li><%= link_to "Registration", new_contestant_path %></li>
			</ul>
		</nav>
   </header>
   <div class="row">
		<div class="col-md-12 text-center">
		
			<h3>Welcome to the Derby City Whisker Club, a club for bearded men and those who love them.</h3>
		
		</div>
	</div>
	
		<div class="col-md-6">
		
			<h4>Our Mission</h4>
			<p>To promote beardliness and brotherhood amongst men and the whiskerfication of the masculine image in the popular conscious.</p>
		
		</div>
		<div class="col-md-6">
		
			<h4>A Little About Us</h4>
			<p>The Derby City Whisker Club (formerly Greater Louisville Society of Bearded Gentlemen) is the area's first "whisker club," a social group devoted to the appreciation of man's ability to grow hair on his face. To join this group, one need only be interested. Facial hair itself is not a prerequisite, and no person of any age, gender, race, nationality, or variance of hairiness shall be discriminated against by group leaders or administrators.</p>
		
		</div>
		
	<footer class="text-center">
		<p>&copy; 2011 - 2015 Derby City Whisker Club</p>
	</footer>
   </div>
   <script src="bootstrap/js/bootstrap.min.js"></script>
   </body>
</html>
