<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Derby City Whisker Club</title>
	<link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>

  </head>
   <body>
	<header>
		<a href="index.html" id="logo" class="text-center">
			<h1 id="top">The Derby City Whisker Club</h1>
			<h2 id="middle">Louisville, Kentucky</h2>
			<h3 id="bottom">Est. 2011</h3>
		</a>
		<nav>
			<ul class="list-inline text-center">
			<li><a href="index.html" class="selected">Home</a></li>
			<li><a href="members.html">Members</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="calender.html">Calender</a></li>
			<li><%= link_to "Registration", new_contestant_path %></li>
			</ul>
		</nav>
   </header>
   <div id="wrapper">
		<section>
			<h4 class="text-center">Elected Officials</h4>
			<div class="container">
			<ul id="gallery1" class="row list-inline">
				<li class="col-lg-offset-2 col-lg-2 col-md-offset-2 col-md-2 col-sm-3 col-xs-6">
					<a href="gore.html">
						<img src="assets/gore.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> President <br> Ryan Gore </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
					<a href="elder.html">
						<img src="assets/elder.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Vice President <br> Chris Elder </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
					<a href="stephen.html">
						<img src="assets/stephen.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Treasurer <br> Stephen Nolan </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
					<a href="patrick.html">
						<img src="assets/patrick.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Sgt. At Arms <br> Patrick Fette </p>
					</a>
				</li>
			</ul>
			</div>	
		</section>
		<section>
			<h4 class="text-center"> Registered Members </h4>
			<div class="container">
			<ul id="gallery2" class="row list-inline">
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<a href="sean.html">
						<img src="assets/sean.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Sean Mabry </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<a href="austin.html">
						<img src="assets/austin.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Austin Lunn </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<a href="josh.html">
						<img src="assets/josh.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Josh Druin </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<a href="blake.html">
						<img src="assets/blake.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Blake Ulmer </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<a href="melissa.html">
						<img src="assets/melissa.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Melissa Fette </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<a href="dave.html">
						<img src="assets/dave.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> David Meredith </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<a href="dustin.html">
						<img src="assets/dustin.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Dustin Falin </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<a href="laura.html">
						<img src="assets/laura.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Laura Ulmer </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<a href="jason.html">
						<img src="assets/jason.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Jason Hall </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<a href="adina.html">
						<img src="assets/adina.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Adina Marie </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<a href="carrie.html">
						<img src="assets/carrie.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Carrie Jackson </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<a href="geno.html">
						<img src="assets/geno.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Geno Hardin </p>
					</a>
				</li>
				<!-- <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<a href="jodi.html">
						<img src="img/jodi.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Jodi Messer </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<a href="chris.html">
						<img src="img/chris.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Chris Cockeril </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<a href="lauram.html">
						<img src="img/lauram.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Laura Murray </p>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
					<a href="adam.html">
						<img src="img/adam.jpg" class="img-thumbnail" alt"">
						<p class="text-center"> Adam Moseley </p>
					</a>
				</li> -->
			</ul>
			</div>
		</section>
		<footer class="text-center">
			<p>&copy; 2011 - 2015 Derby City Whisker Club</p>
		</footer>
   </div>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </body>
</html>