<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>Derby City Whisker Club</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.css">
  </head>
   <body>
	<header>
		<a href="index.html" id="logo">
			<h1 id="top">The Derby City Whisker Club</h1>
			<h2 id="middle">Louisville, Kentucky</h2>
			<h3 id="bottom">Est. 2011</h3>
		</a>
		<nav>
			<ul>
			<li><a href="index.html" class="selected">Home</a></li>
			<li><a href="members.html">Members</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="calender.html">Calender</a></li>
			<li><%= link_to "Registration", new_contestant_path %></li>
			</ul>
		</nav>
   </header>
   <div id="wrapper">
		<section>
			<h4>Elected Officials</h4>
			<ul id="gallery1">
				<li>
					<a href="gore.html">
						<img src="img/gore.jpg" alt"">
						<p> President <br> Ryan Gore </p>
					</a>
				</li>
				<li>
					<a href="elder.html">
						<img src="img/elder.jpg" alt"">
						<p> Vice President <br> Chris Elder </p>
					</a>
				</li>
				<li>
					<a href="stephen.html">
						<img src="img/stephen.jpg" alt"">
						<p> Treasurer <br> Stephen Nolan </p>
					</a>
				</li>
				<li>
					<a href="patrick.html">
						<img src="img/patrick.jpg" alt"">
						<p> Sgt. At Arms <br> Patrick Fette </p>
					</a>
				</li>
			</ul>	
		</section>
		<section>
			<h4> Registered Members </h4>
			<ul id="gallery2">
				<li>
					<a href="sean.html">
						<img src="img/sean.jpg" alt"">
						<p> Sean Mabry </p>
					</a>
				</li>
				<li>
					<a href="austin.html">
						<img src="img/austin.jpg" alt"">
						<p> Austin Lunn </p>
					</a>
				</li>
				<li>
					<a href="josh.html">
						<img src="img/josh.jpg" alt"">
						<p> Josh Druin </p>
					</a>
				</li>
				<li>
					<a href="blake.html">
						<img src="img/blake.jpg" alt"">
						<p> Blake Ulmer </p>
					</a>
				</li>
				<li>
					<a href="melissa.html">
						<img src="img/melissa.jpg" alt"">
						<p> Melissa Fette </p>
					</a>
				</li>
				<li>
					<a href="dave.html">
						<img src="img/dave.jpg" alt"">
						<p> David Meredith </p>
					</a>
				</li>
				<li>
					<a href="dustin.html">
						<img src="img/dustin.jpg" alt"">
						<p> Dustin Falin </p>
					</a>
				</li>
				<li>
					<a href="laura.html">
						<img src="img/laura.jpg" alt"">
						<p> Laura Ulmer </p>
					</a>
				</li>
				<li>
				<!--	<a href="jason.html">
						<img src="img/jason.jpg" alt"">
						<p> Jason Hall </p>
					</a>
				</li>
				<li>
					<a href="chris.html">
						<img src="img/chris.jpg" alt"">
						<p> Chris Cockeril </p>
					</a>
				</li>
				<li>
					<a href="adina.html">
						<img src="img/adina.jpg" alt"">
						<p> Adina Marie </p>
					</a>
				</li>
				<li>
					<a href="carrie.html">
						<img src="img/carrie.jpg" alt"">
						<p> Carrie Jackson </p>
					</a>
				</li>
				<li>
					<a href="geno.html">
						<img src="img/geno.jpg" alt"">
						<p> Geno Hardin </p>
					</a>
				</li>
				<li>
					<a href="jodi.html">
						<img src="img/jodi.jpg" alt"">
						<p> Jodi Messer </p>
					</a>
				</li>
				<li>
					<a href="lauram.html">
						<img src="img/lauram.jpg" alt"">
						<p> Laura Murray </p>
					</a>
				</li>
				<li>
					<a href="adam.html">
						<img src="img/adam.jpg" alt"">
						<p> Adam Moseley </p>
					</a>
				</li> -->
			</ul>
		</section>
		<footer>
			<p>&copy; 2011 - 2015 Derby City Whisker Club</p>
		</footer>
   </div>
   </body>
</html>